[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = ">=9.4,<9.5"  # Restriction à la version 9
mkdocs-material-extensions = "*"  # Adapter en fonction de la compatibilité avec mkdocs-material 9
pymdown-extensions = "*"  # Adapter également pour éviter les conflits
mkdocs-git-revision-date-localized-plugin = "*"
mkdocs-minify-plugin = "*"

[dev-packages]

[requires]
python_version = "3.10"
